body{
  background-color: #111122;
}
h1{
  color: black;
}
.navbar-stylemodify{
    height: 80px;
    background: black;

}
.container{
  margin-top: 15px;
}
.navbar-div-przyciski ul{
  font-variant: small-caps;
  font-weight: bold;
}
.navbar-div-przyciski ul li{
  margin-left: 10px;
}
.navbar-div-przyciski ul a{
  color: #eee;
  font-size: 20px;
}
.navbar-div-przyciski input{
  margin-top: 10px;
}
.searchinput{
  border-radius: 10px;
  height: 30px;
  color: white;
  background-color: transparent;
  border-color: #999;
  border-style: solid;
  border-width: thin;

}
.searchbutton{
  border-radius: 10px;
  height: 30px;
  background-color: transparent;
  border-color: #999;
  border-width: thin;
  border-style: solid;
  color: white;
}
.logo{
  width: 80px;
  height: 50px;
}
.wrapper{ 
  width: 350px; 
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  box-shadow: inset 0 3px 6px rgba(241, 241, 241, 0.16), 0 4px 6px rgba(241,241,241,241.45);
  border-radius: 10px;
  text-align: center;

}
h2, label, p{
  color: white;
}
.active{
  color: red;
}
button{
  margin-left: 10px;
  margin-right: 10px;
}
