.left{
    padding-right: 20%;
}
.content{
    float: left;
    margin-left: 20%;
}
.price{
    color: white;
    font-size: 20px;
}
.netto{
    color: white;
    font-size: 10px;
}
.opis{
    margin-left: 30%;
    float: left;
    text-align: left;
    color: white;
}
.koszyk{
    padding-left: 30%;
}

h1{
    color: white;
    text-align: center;

}
th{
 padding-left: 30px;
}
tr{
 padding-left: 10%;
}
.styled-table {
    padding-right: 60%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
    background-color: #212222;
    color: #ffffff;
    text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}


.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}
.text{
    color: white;
}
p{
    text-align: center;
}
.k{
    padding-left: 10%;
}
h2{
    color: white;
}
#carouselExampleIndicators{
    float: right;
}