body{
background-image: url(https://lh3.googleusercontent.com/proxy/ECcFUIAs0S6cE_kxwUI68EwDKQFcmpd5a-ouRhG3-AR5oF3NZfoEnprgGb6LurpWjlc9DIilUE5lc5bIV2q1XIxE6f4cZZQeIyfa089Tq44vtg);
}
h1{
  color: black;
}
.navbar-stylemodify{
  height: 90px;
  background: #221122;
}
.container{
  margin-top: 20px;
}
.navbar-div-przyciski ul{
  font-variant: small-caps;
  font-weight: bold;
}
.navbar-div-przyciski ul a{
  color: #bbb;
}
